@using Commerce.Client.Services
@inject StateContainer StateContainer
@inject HttpClient _client
@inject IJSRuntime _jsRuntime

<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Commerce</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

@if(StateContainer.Companies is not null)
{
    <ChooseCompany Companies="StateContainer.Companies" SelectCompany="SelectCompany"/>
}


<div class="@NavMenuCssClass" > @*@onclick="ToggleNavMenu"*@
    <nav class="flex-column">

        @if(StateContainer.Company is null && Companies is not null)
        {
            foreach(var company in Companies)
            {
                <div class="nav-item px-3">
                    <NavLink class="nav-link" @onclick="@(() => SelectCompany(company))">
                        <span class="oi oi-list-rich" aria-hidden="true"></span> @company.Name
                    </NavLink>
                </div>
            }
        }
        else
        {
           
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                    <span class="oi oi-home" aria-hidden="true"></span> Home
                </NavLink>
            </div>

            <div class="nav-item px-3" >
                <NavLink class="nav-link" href="pm" @onclick="()=>expandProductManagement = !expandProductManagement">
                    <i class="bi bi-box me-2" style="font-size: 1.3rem;"></i>
                    Product Management
                </NavLink>
            </div>

            @if (expandProductManagement)
            {
                <div class="ms-3" @onclick="ToggleNavMenu">
                    <div class="nav-item px-3">
                        <NavLink class="nav-link" href="pm/categories" Match="NavLinkMatch.All">
                            <span class="oi oi-list-rich" aria-hidden="true"></span> Categories
                        </NavLink>
                    </div>
                    <div class="nav-item px-3">
                        <NavLink class="nav-link" href="pm/groups" Match="NavLinkMatch.All">
                            <span class="oi oi-list-rich" aria-hidden="true"></span> Groups
                        </NavLink>
                    </div>
                    <div class="nav-item px-3">
                        <NavLink class="nav-link" href="pm/subgroups" Match="NavLinkMatch.All">
                            <span class="oi oi-list-rich" aria-hidden="true"></span> Subgroups
                        </NavLink>
                    </div>
                    <div class="nav-item px-3">
                        <NavLink class="nav-link" href="pm/products" Match="NavLinkMatch.All">
                            <span class="oi oi-list-rich" aria-hidden="true"></span> Products
                        </NavLink>
                    </div>
                </div>
            
            }

            <div class="nav-item px-3">
                <NavLink class="nav-link" href="setup"  Match="NavLinkMatch.Prefix" @onclick="()=>expandSetup= !expandSetup">
                    <i class="bi bi-gear me-2" style="font-size: 1.3rem;"></i>
                    Setup
                </NavLink>
            </div>

            @if (expandSetup)
            {
                <div class="ms-3" @onclick="ToggleNavMenu">
                    <div class="nav-item px-3">
                        <NavLink class="nav-link" href="setup/uom" Match="NavLinkMatch.All">
                            <span class="oi oi-list-rich" aria-hidden="true"></span> Unit of Measures
                        </NavLink>
                    </div>
                </div>
            }
            
            
        }

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="org"  Match="NavLinkMatch.Prefix" @onclick="()=>expandOrganization = !expandOrganization">
                <i class="bi bi-building me-2" style="font-size: 1.3rem;"></i>
                Organization
            </NavLink>
        </div> 

        @if (expandOrganization)
        {
            <div class="ms-3" @onclick="ToggleNavMenu">
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="org/companies">
                        <span class="oi oi-list-rich" aria-hidden="true"></span> Companies
                    </NavLink>
                </div>
            </div>
        }

    </nav>
</div>

@code {
    public List<Company> Companies { get; set; }

    private bool collapseNavMenu = true;

    private bool expandOrganization;
    private bool expandProductManagement;
    private bool expandSetup;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;



    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }



    protected override async Task OnInitializedAsync()
    {
        if(StateContainer.Company is null || StateContainer.Companies is null)
        {
            try
            {
                Companies = await _client.GetFromJsonAsync<List<Company>>("api/companies");
                var slug = await GetCompanyAsync();
                if(!String.IsNullOrEmpty(slug))
                {
                    SelectCompany(Companies.FirstOrDefault(c => c.Slug == slug));
                }

                if(StateContainer.Companies is null)
                {
                    StateContainer.Companies = Companies;
                }

            }
            catch (AccessTokenNotAvailableException exception)
            {
                exception.Redirect();
            }
        }
    }

    void SelectCompany(Company company)
    {
        StateContainer.Company = company;
        StateHasChanged();
    }

    private async Task<string> GetCompanyAsync()
    {
        return await _jsRuntime.InvokeAsync<string>($"sessionStorage.getItem", "company");
    }

}
